<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dish List</title>
</head>
<body>
  <h1>Dish List</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Price</th>
      </tr>
    </thead>
  </table>
  {% for dish in object_list %}
    <tr>
      <td>{{ dish.id }}</td>
      <td><a href="{% url 'dish_detail' dish.id %}">{{ dish.id }}</a></td>
      <td>{{ dish.name}}</td>
      <td>{{ dish.price }}</td>
      <td>{{ dish.dish_type.name }}</td>
  </tr>
{% endfor %}
<div>
  {%  if paginated %}
    <div>
    <ul class="pagination"></ul>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
    {% endif %}
    </div>
  {% endif %}
</div>
</body>
</html>